<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chassis">

    <link name="chasis_bottom">
        <visual>
            <geometry>
                <box size="0.76 0.6 0.25" />
            </geometry>
            <material name="grey">
                <color rgba="0.7 0.7 0.7 1" />
            </material>
            <origin xyz="0 0 0.125" rpy="0 0 0" />
        </visual>
        <collision>
            <geometry>
                <box size="0.76 0.6 0.25" />
            </geometry>
            <origin xyz="0 0 0.125" rpy="0 0 0" />
        </collision>
        <inertial>
            <mass value="0.1" />
            <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" ixz="0" iyz="0" />
            <origin xyz="0 0 0.125" rpy="0 0 0" />
        </inertial>
    </link>

    <link name="chasis_middle">
        <visual>
            <geometry>
                <box size="0.1 0.3 0.7" />   
            </geometry>
            <origin xyz="0 0 0.35" rpy="0 0 0" />
            <material name="grey">
                <color rgba="0.7 0.7 0.7 1" />
            </material>
        </visual>

        <collision>
            <geometry>
                <box size="0.1 0.3 0.7" />
            </geometry>
            <origin xyz="0 0 0.35" rpy="0 0 0" />
        </collision>
        <inertial>
            <mass value="0.1" />
            <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" ixz="0" iyz="0" />
            <origin xyz="0 0 0.35" rpy="0 0 0" />
        </inertial>
    </link>

    <link name = "screen">
        <visual>
            <geometry>
                <box size="0.1 0.35 0.2" />
            </geometry>
            <origin xyz="0 0 0 " rpy="0 -0.2 0" />
            <material name="grey">
                <color rgba="0.7 0.7 0.7 1" />
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.1 0.35 0.2" />
            </geometry>
            <origin xyz="0 0 0 " rpy="0 -0.2 0" />
        </collision>
        <inertial>
            <mass value="0.1" />
            <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" ixz="0" iyz="0" />
            <origin xyz="0 0 0 " rpy="0 -0.2 0" />
        </inertial>
    </link>

    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chasis_bottom"/>
        <origin xyz="0 0 0.0" rpy="0 0 0" />
        <axis xyz="0 0 0" /> 
    </joint>

    <joint name="chassis_middle_joint" type="fixed">
        <parent link="chasis_bottom"/>
        <child link="chasis_middle"/>
        <origin xyz="0.33 0 0.25" rpy="0 0 0" />
        <axis xyz="0 0 0" />
    </joint>

    <joint name="screen_joint" type="fixed">
        <parent link="chasis_middle"/>
        <child link="screen"/>
        <origin xyz="0 0 0.7" rpy="0 0 0" />
        <axis xyz="0 0 0" />
    </joint>

    </robot>
